<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://com.example.scm/menu.application.title" opened="true">
        <item view="User.list" title="msg://com.example.scm.view.user/UserListView.title"/>
        <item view="Shipment.list" title="msg://com.example.scm.view.shipment/ShipmentListView.title"/>
        <item view="ShipmentSpreadsheet.list" title="msg://com.example.scm.view.shipment/ShipmentSpreadsheetView.title"/>
        <item view="ShipmentSpreadsheetExampleView" title="msg://com.example.scm.view.shipment/ShipmentSpreadsheetExampleView.title"/>
    </menu>

</menu-config>
