<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://com.company.jmixspreadsheet/menu.application.title" opened="true">
        <item view="User.list" title="msg://com.company.jmixspreadsheet.view.user/UserListView.title"/>
        <item view="Shipment.list" title="msg://com.company.jmixspreadsheet.view.shipment/ShipmentListView.title"/>
        <item view="ShipmentSpreadsheet.list" title="msg://com.company.jmixspreadsheet.view.shipment/ShipmentSpreadsheetView.title"/>
    </menu>

</menu-config>